body {
    background-size: 100% 840px;
    background-image: url(../background-image/background.png);
    color: rgb(113, 103, 103);
    text-shadow: 0px 2px 0px rgb(255, 255, 255);
    height: 800px;
}

#home-page {
    display: none;
    height: 800px;
    text-align: center;
    animation-iteration-count: 1;
    animation-play-state: paused;
}

#header {
    height: 30%;
    font-size: 120px;
    font-family: Reglisse;
    color: rgb(146, 146, 146);
}

#game-info {
    height: fit-content;
    margin: 0 25%;
    font-size: x-large;
    margin-bottom: 25px;
}

@media screen and (max-width: 1000px) {
    #game-info {
        margin: 0 5%;
        margin-bottom: 25px;
    }
}

#play-button-row {
    border-style: hidden;
    background: transparent;
}

#play-icon {
    color: rgb(108, 104, 104);
    animation-iteration-count: 1;
    animation-play-state: paused;
}


/* below here is formatting only the play-page */


#play-page {
    display: block;
    animation: slideInFromTop 1.5s;
}

.image-row {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    max-height: 200px;
}

.hint-image {
    width: 33%;
    height: fit-content;
    max-height: 200px;
    padding: 10px;
    border-radius: 40px;
}

#input-box {
    height: 15%;
    margin: 0 30%;
    margin-bottom: 2.5%;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes slideInFromTop {
    from {
        overflow: hidden;
        margin-top: -200%;
    }

    to {
        margin-top: 0%;
    }
  }