body {
    background-image: url(/Users/CaseyJr/sei_ice_pops/projects/project-1/project-1/background-image/background.png);
}

#home-page {
    display: block;
    height: 800px;
    text-align: center;
    animation-iteration-count: 1;
    animation-play-state: paused;
}

#header {
    height: 30%;
    font-size: 80px;
}

#game-info {
    height: fit-content;
    margin: 0 25%;
    font-size: x-large;
    margin-bottom: 25px;
}

@media screen and (max-width: 1000px) {
    #game-info {
        margin: 0 5%;
    }
}

#play-button-row {
    border-style: hidden;
    background: transparent;
}

#play-icon {
    animation-iteration-count: 1;
    animation-play-state: paused;
}

#input-box {
    height: 15%;
    margin: 0 30%;
    margin-bottom: 2.5%;
}

#play-page {
    display: none;
}

.fade-in-page {
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}